mat-card {
  margin: 10px;
  padding: 15px;
}

.task-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.no-task {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
